h1 {
border-bottom-color: #800000;
border-bottom-width: 3px;
border-bottom-style: solid;
}

h2 {
border-bottom-color: #800000;
border-bottom-width: 1px;
border-bottom-style: solid;
}

body {
color: #000000;
background-color: #ffffff;
}

a:link {
color: #800000
}
a:visited {
color: #800000
}
a:hover {
color: #800000
}
a:active {
color: #800000
}

#container{
	width:500px;
	margin:0 auto;
	text-align:left;
}

